/* Reset padding and margin */
/* * {
    margin: 0;
    padding: 0;
} */

/* Apply box-sizing best practice */
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* STYLING */
h1, h2 {
    color: brown;
}
body {
    max-width: 600px;
    margin: 0 auto;
    background-color: burlywood;
}

h1 {
    font-family: Times, 'Times New Roman', serif;
    font-size: 42px;
    margin-top: 16px;
    text-align: center;
}

div {
    background-color: azure;
    padding: 16px 48px;
    min-height: 100vh;
}

.home li {
    list-style-type: none;
    display: block;
    margin-bottom: 5px;
}
.home li a {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: chocolate;
    text-decoration: none;
}

img {
    display: block;
    margin: 0 auto;
}
.credit {
    display: block;
    margin-top: 2px;
    text-align: center;
}

